:root {
  --background-color: #f6f6f6;
  --calculator-color: #1d3557;
  --display-color: #a8dadc;
  --action-color: #f77f00;
  --delete-color: #e63946;
  --hover-color: #457b9d;
}

* {
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  background-color: var(--background-color);
}

.container {
  display: flex;
  justify-content: center;
  margin: 5em 0;
}

button {
  padding: 24px 32px;
  margin: 4px;
  background-color: var(--display-color);
  border: 1px solid black;
  border-radius: 4px;
  min-width: 76px;
  cursor: pointer;
}

.action-button {
  min-width: 166px;
  background-color: var(--action-color);
  color: #f6f6f6;
  text-transform: uppercase;
}

.delete-button {
  background-color: var(--delete-color);
}

button:hover {
  background-color: var(--hover-color);
  color: var(--background-color);
}

.calculator {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  max-width: 22em;
  background-color: var(--calculator-color);
  padding: 1em;
  border-radius: 0.5em;
}

.display {
  background-color: var(--display-color);
  padding: 16px;
  border-radius: 4px;
  max-width: 320px;
  margin: 4px;
}

#display-value {
  font-size: xx-large;
  float: right;
  margin: 0 8px 0 0;
}

@media only screen and (max-width: 400px) {
  .action-button {
    min-width: 152px;
  }

  button {
    padding: 24px 24px;
    min-width: 70px;
  }
}
